extends ../commu/commuLayout.pug
block append scripts
	script(type='text/javascript', src='/js/auth/password.js')
block append css
	link(rel="stylesheet" href="/css/commu/myinfo.css")
block append content
	#article
		h2 비밀번호 변경
		hr
		form#frm(name="frm" action='/auth/password', method='post')
			.input-group.mb-3
				.input-group-prepend
					span.input-group-text 현재 비밀번호
				input#nowpassword.form-control(type='password', name="nowpassword", placeholder="현재 비밀번호",maxlength="20", style="color:black; font-family: 'Malgun Gothic';")
			.input-group.mb-3
				.input-group-prepend
					span.input-group-text 변경할 비밀번호
				input#password.form-control(type='password', name="password", placeholder="변경할 비밀번호",maxlength="20", style="color:black; font-family: 'Malgun Gothic';"  onchange="passwordE();")
			.input-group.mb-3
				.input-group-prepend
					span.input-group-text 비밀번호 확인
				input#passwordCheck.form-control(type='password', name="passwordCheck", placeholder="비밀번호 확인",maxlength="20" onchange="passwordE();", style="font-family: 'Malgun Gothic'")
			p 영문,숫자,특수문자 혼합하여 8~20자리 이내
			p#passcheck
			input#type(type='hidden', name="type", value=type)
			p
				input.btn.btn-success.form-control(type='button' value="비밀번호 변경" onclick='changepassword()')
