doctype html
html(lang='ko')
    head
        meta(charset='utf-8')
        title
    body
        h1 Register
            form(action='/auth/register/comm', method='post')
                p
                    input(type='text', name="username", placeholder="username")
                p
                    input(type='password', name="password", placeholder="password")
                p
                    input(type='submit')
    
    
