doctype html
html(lang='ko')
    head
        meta(charset='utf-8')
        title
    body
        h1 Register
        div
            a(href='/auth/register') 일반학생 가입하기
        div
            a(href='/auth/register') 학생회 관리자 가입하기

