extends authLayout.pug
block append scripts
  script(type='text/javascript', src='/js/email.js')
block append css
  link(rel='stylesheet', href='/css/authmain.css')
block content
  h2 인증 메일이 발송되었습니다.<br>
    a(href="https://outlook.office.com/owa/?realm=sangmyung.kr&exsvurl=1&ll-cc=1042&modurl=0" target='_blank')
      | Office 365
    | 로 들어가서 인증 메일을 확인하세요!<br>
    | ※ Office 365의 계정은 학교 통합계정과 동일합니다.
  if kakaoId != undefined
    h3(style="text-align : center;") 메일이 발송되지 않았다면 
      | <br>1. 스팸 메일함(Junk Email)을 확인
      | <br>2. 메일을 찾을 수 없다면 아래 버튼을 눌러주세요
    form#frm(name="frm" action='/auth/register/commu/email', method='post')
      input(type='hidden', name="kakaoId", value=kakaoId)
      input.btn.btn-success.form-control(type='button' value="메일 보내기" onclick='mail()')
      a.btn.btn-danger.form-control(href='/auth/logout' role="button") 로그아웃
