doctype html
html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="shortcut icon", href="/favicon/favicon.ico")
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/registerInfo.css')
    script(src="//developers.kakao.com/sdk/js/kakao.min.js")
    title smusmu
  body
    #wrap
      #container
        h1 스뮤스뮤 카카오톡 플러스친구를 통해서 가입해 주세요!
        #buttons
          .button
            h2 스뮤스뮤 친구추가
            #plusfriend-addfriend-button
          .button
            h2 스뮤스뮤 채팅하기
            #plusfriend-chat-button
    script(type='text/javascript')
      //<![CDATA[
        Kakao.init('0370012957b863828c893ab171e9fd59');
        Kakao.PlusFriend.createAddFriendButton({
          container: '#plusfriend-addfriend-button',
          plusFriendId: '_plxiWxl',
          size : 'large'
        });
      //]]>
    script(type='text/javascript')
      //<![CDATA[
        Kakao.PlusFriend.createChatButton({
          container: '#plusfriend-chat-button',
          plusFriendId: '_plxiWxl',
          size : 'large'
        });
      //]]>
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(type='text/javascript', src='/js/prefixfree.min.js')




