#tables {
    width: 95%;
    margin: 5rem auto;
    text-align: center;
}

.hometable {
    display: inline-block;
    width: 90%;
    /* padding : 0 2%; */
    margin: 0 2%;
    text-align: left;
}


th.title {
    width: 60%;
}

td.title {
    width: 60%;
    padding: 0 !important;
    word-break: break-all;
}

td.title a {
    display: block;
    width: 100%;
    height: 100%;
    padding: .75rem;
}

tr:hover {
    background: #F4B020 !important;
    color: #000 !important;
}

@media (max-width: 768px) {
    #tables {
        width: 100%;
        margin: 0;
    }

    .hometable {
        display: block;
        width: 100%;
        margin: 10% 0 10%;
    }

    .tableHeader {
        padding-left: 13px;
    }

    .table {
        font-size: 0.7rem;
    }

    thead tr {
        text-align: center;
    }

    #free td:nth-child(2),
    #free thead {
        display: none;
    }

    #petition td:nth-child(2),
    #petition td:nth-child(3),
    #petition td:nth-child(4),
    #petition thead {
        display: none;
    }

}