#wrap {
  clear: both;
  max-width: 80rem;
  height : 50rem;
  margin: 0 auto;
}

#container {
  clear: both;
  width: 85%;
  height : 90%;
  padding : 3%;
  margin: 3% auto;
}

#container h1, h2,h3 {
  clear: both;
  float: left;
  width: 100%;
  text-align: center;
  padding : 0.2em;
  margin: 0em 0;
}

.form-group {
  clear: both;
  color: #FFC943;
  text-align: center;
  margin : 0.8em 1%;
  padding: 1%;
}

input {
  width: 80%;
  padding : 1% 1%;
  margin : 1% 0;
  text-align: center;
  font-size: 3rem;
  color : #000;
}
.btn-secondary{
  margin-bottom : 1%;
}
form{
  margin : 1% auto;
  padding: 0.5% 1%;
}

.line .inputArea {
  float: left;
}
.buttonrow{
  margin : .3rem;
  padding : 0;
}

.imgcontainer {
  text-align: center;
  margin: 5px 0 0 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

.err{
  margin-bottom: 3rem;
}

#fail{
  width : 70%;
  margin : 1.2rem auto 0;
}
.alert{
  margin-bottom : 0;
}
.alert.alert-danger{
  text-align: center;
}
.mail{
  width: 100%;
  margin-bottom: 40px;
}

.mailinfo{
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 1.2px 1.2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background:#fff;
}

.mailinfo ol{
  font-size : 1.3rem;
  text-align : left;
  width: 70%;
  margin:0 auto;
}

.mailinfo:after{
  clear:both;
  content:"";
  display:block;
  visibility:hidden;

}
.mail:after{
  clear:both;
  content:"";
  display:block;
  visibility:hidden;

}

.info{
  width: 100%;
  text-align: center;
  margin:0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.card{
  display: inline-flex;
  margin : 2rem 1rem;
  width: 18rem;
}
img.card-img-top{
  width:100%;
  height: 100%;
  border-bottom: 2px solid rgb(119, 119, 119);
}




/*스마트폰에 적용*/

@media screen and (max-width:766px) {
    body {
      background: #FFC943;
      color: #000;
    }
    #container {
      clear: both;
      width: 100%;
      height : 90%;
      padding : 1em 1em;
      margin: 5% auto;
    }

    h1{
      color: #FFF;
      font-size: 3rem;
    }

    .form-group.row {
      clear: both;
      text-align: left;
      color: #000;
      margin: 1rem 0;
    }

    .buttonrow{
      margin : 0rem;
      padding : 0;
    }

    h3{
      font-size: 1.2rem;
    }
    img.avatar {
      width: 70%;
      border-radius: 50%;
      /* shado: 2px solid #9B5526 */
      box-shadow: 1px 1px 5px #9B5526;
    }

    h2{
      font-size:1.6rem;
    }

    .step{
      display: block;
      text-align: center;
      width: 100%;
      margin : 0 auto;
  }

  .card{
      margin : 1rem auto;
      width : 18rem;
  }

  .info{
      display: block;
  }

  .mailinfo ol{
    width: 100%;
    font-size: 1rem;
  }
}
