html{
    height:100vh;
}
#wrap {
    height: 100%;
}

#buttons{
    margin: 0 auto;
    padding : 0.3rem;
    text-align: center;
}

.button{
    display : inline-block;
    margin: 0 auto;
    padding : 0.3rem;
    text-align: center;
}

img{
    height: 58px;
}

hr{
    /* background-color: #000; */
    border: 0;
    border-top: 1px dashed #000;
}

hr.two{
    border-top: 8px double #000;
}