html{
    height:100vh;
}
#wrap {
    height: 100%;
}

#container {
    clear: both;
    width: 100%;
    padding : 3%;
    margin: 3% auto;
  }
  

#buttons{
    margin: 0 auto;
    padding : 0.3rem;
    text-align: center;
}

.button{
    display : inline-block;
    margin: 0 auto;
    padding : 0.3rem;
    text-align: center;
}

img{
    height: 58px;
}

hr{
    /* background-color: #000; */
    border: 0;
    border-top: 1px dashed #000;
}

hr.two{
    border-top: 8px double #000;
}

#info{
    width: 100%;
    text-align: center;
    margin:0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card{
    display: inline-flex;
    margin : 2rem 1rem;
}
img.card-img-top{
    width:100%;
    max-height: 500px;
    border-bottom: 2px solid rgb(119, 119, 119);
}

@media screen and (max-width:766px) {
    .step{
        display: block;
        text-align: center;
        width: 100%;
        margin : 0 auto;
    }

    .card{
        margin : 1rem auto;
    }

    #info{
        display: block;
    }
}