extends ../authLayout.pug
block append scripts
block append css
  link(rel='stylesheet', href='/css/auth/authmain.css')
block content
  h2 인증에 성공했스뮤!<br><br>
    a.btn.btn-primary.form-control(href="/" role="button") 로그인하러 가기