extends ../authLayout.pug
block append scripts
block append css
  link(rel='stylesheet', href='/css/auth/authmain.css')
  link(rel='stylesheet', href='/css/auth/registerInfo.css')
block content
  script(src="//developers.kakao.com/sdk/js/kakao.min.js")
  h2 스뮤스뮤 카카오톡<br>플러스친구를 통해서 가입해 주세요!
    hr.two
  #info
    .card(style='width: 18rem;')
      img.card-img-top(src='/img/registerinfo/kakao1.png')
      .card-body
        p.card-text
          | 1. 아래의 친구추가 혹은 톡상담을 눌러주세요
    .card(style='width: 18rem;')
      img.card-img-top(src='/img/registerinfo/kakao2.png')
      .card-body
        p.card-text
          | 2. 플러스친구 스뮤스뮤와의 카톡방에 들어왔나요?
    .card(style='width: 18rem;')
      img.card-img-top(src='/img/registerinfo/kakao3.png')
      .card-body
        p.card-text
          | 3. "등록"이라고 카톡해주세요!
    .card(style='width: 18rem;')
      img.card-img-top(src='/img/registerinfo/kakao4.png')
      .card-body
        p.card-text
          | 4. 등록하기 버튼을 눌러서 등록을 진행해주세요!
  #buttons
    .button
      h2 스뮤스뮤 친구추가
      #plusfriend-addfriend-button
    hr
    .button
      h2 스뮤스뮤 채팅하기
      #plusfriend-chat-button
  script(type='text/javascript')
    //<![CDATA[
      Kakao.init('0370012957b863828c893ab171e9fd59');
      Kakao.PlusFriend.createAddFriendButton({
        container: '#plusfriend-addfriend-button',
        plusFriendId: '_plxiWxl',
        size : 'large'
      });
    //]]>
  script(type='text/javascript')
    //<![CDATA[
      Kakao.PlusFriend.createChatButton({
        container: '#plusfriend-chat-button',
        plusFriendId: '_plxiWxl',
        size : 'large'
      });
    //]]>






