doctype html
html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(type='text/javascript', src='js/mySignInForm.js')
    link(rel='stylesheet', href='css/main.css')
    title smusmu 학생회 관리 페이지
  body
    #wrap
      #container
        h1.title 스뮤스뮤(smusmu) 학생회 관리 페이지.
