#wrap {
  clear: both;
  max-width: 68rem;
  height : 50rem;
  margin: 0 auto;
}

#container {
  clear: both;
  width: 70%;
  height : 90%;
  padding : 3%;
  margin: 3% auto;
}

#container h1, h3 {
  clear: both;
  float: left;
  width: 100%;
  text-align: center;
  padding : 0.2em;
  margin: 1em 0;
}

.form-group {
  clear: both;
  color: #2A3C78;
  text-align: center;
  margin : 0.8em 1%;
  padding: 1%;
}

input {
  width: 80%;
  padding : 1% 1%;
  margin : 1% 0;
  text-align: center;
  font-size: 3rem;
  color : #000;
}

form{
  margin : 1% auto;
  padding: 1%;
}

.line .inputArea {
  float: left;
}


/*스마트폰에 적용*/

@media screen and (max-width:766px) {
    body {
      background: #2A3C78;
    }
    #container {
      clear: both;
      width: 90%;
      height : 90%;
      padding : 1em 1em;
      margin: 5% auto;
    }

    h1{
      color: #FFF;
      font-size: 2rem;
    }

    .form-group.row {
      clear: both;
      text-align: left;
      color: #FFF;
      margin: 1rem 0;
    }
}
