tbody {
	transition: all 1s;
}

th {
	text-align: center;
}

.table td,
.table th {
	padding: .4rem;
}

.card {
	padding: 1.2rem .3rem .2rem;
	margin: 1rem 0;
	border: #333333 solid 1px;
}

.card:hover {
	box-shadow: 5px 5px 5px 5px gray;
}

.itemBoxHighlight {
	width: 100%;
	height: 380px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgb(218, 216, 216);
	border-radius: 2rem;
}

.title {
	width: 30%;
}

.description {
	width: 45%;
}

.auth {
	width: 13%;
}

.thumbnail {
	width: 12%;
}

.menuorder {
	width: 5%;
}

/*calendar*/

.month {
	width: 20%;
}

.date {
	width: 20%;
}

.content {
	width: 40%;
}

.homonym {
	width: 15%;
}

.minus {
	width: 5%;
}

/*schoolInfo*/
.category{
	width : 20%
}
.keyword{
	width : 20%
}
.phoneNumber{
	width : 10%
}
.faxNumber{
	width : 10%
}
.img{
	width : 5%
}
.explanation{
	width : 30%
}

/*foodMenu*/
.foodimg{
	width:20%
}

/*faq*/
.faqcategory{
	width : 8%
}
.faqimg{
	width : 10%
}

/*job*/
.jobtitle{
	width : 15%;
}
.jobdescription{
	width : 40%;
}
.joburl{
	width : 30%;
}


.custom-file-label {
	cursor: pointer;
}

td.minus {
	/* width: 15%; */
	text-align: center;
	vertical-align: middle;
}

.minus i.fa-minus-square {
	color: rgb(55, 28, 206);
}

#pbt,
#com {
	display: inline-block;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	margin: .2rem;
	cursor: pointer;
}

@media screen and (max-width:768px) {
	.line {
		margin: .5rem 0;
	}

	th {
		font-size: 0.8rem;
	}

	.name {
		width: 30%;
	}

	.now {
		width: 20%;
	}

	.all {
		width: 20%;
	}

	.date {
		width: 20%;
	}


	.table td,
	.table th {
		padding: 0.2rem;
	}

	.nowtable {
		width: 100%;
		margin: 2rem auto;
	}

	/* Force table to not be like tables anymore */
	#fromtable table,
	#fromtable thead,
	#fromtable tbody,
	#fromtable th,
	#fromtable td,
	#fromtable tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#fromtable thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#fromtable tr {
		border: 1px solid #ccc;
	}

	#fromtable td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		height: 3rem;
		margin-bottom: 0;
	}

	#fromtable td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	#pbt {
		display: block;
		margin: 1rem 0;
	}

	/*
	Label the data
	*/
	#fromtable td:nth-of-type(1):before {
		content: "물품";
	}

	#fromtable td:nth-of-type(2):before {
		content: "이름";
	}

	#fromtable td:nth-of-type(3):before {
		content: "학번";
	}

	#fromtable td:nth-of-type(4):before {
		content: "학과";
	}

	#fromtable td:nth-of-type(5):before {
		content: "전화번호";
	}

	#fromtable td:nth-of-type(6):before {
		content: "비고";
	}

	/* Force table to not be like tables anymore */
	#rentstatus table,
	#rentstatus thead,
	#rentstatus tbody,
	#rentstatus th,
	#rentstatus td,
	#rentstatus tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#rentstatus thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#rentstatus tr {
		border: 1px solid #ccc;
	}

	#rentstatus td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		height: 1.8rem;
	}

	#rentstatus td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.thing {
		width: 100%;
	}

	#rentstatus td.com {
		height: 3rem;
		text-align: center;
		padding-left: 0;
	}

	td.com .btn {
		width: 100%;
	}

	/*
	Label the data
	*/
	#rentstatus td:nth-of-type(1):before {
		content: "물품";
	}

	#rentstatus td:nth-of-type(2):before {
		content: "이름";
	}

	#rentstatus td:nth-of-type(3):before {
		content: "학번";
	}

	#rentstatus td:nth-of-type(4):before {
		content: "학과";
	}

	#rentstatus td:nth-of-type(5):before {
		content: "전화번호";
	}

	#rentstatus td:nth-of-type(6):before {
		content: "비고";
	}

	#rentstatus td:nth-of-type(7):before {
		content: "대여기간";
	}

	#rentstatus td:nth-of-type(8):before {
		content: "반납기일";
	}

	/* #rentstatus td:nth-of-type(9):before { content: "반납"; vertical-align: middle; height: 3rem;} */
}