extends commuLayout.pug
block append scripts
block append css
block append content
  .wrapper
    include commuNav.pug
    #content
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          button#sidebarCollapse.btn.btn-info(type='button')
            i.fas.fa-align-left
            span  메뉴
          span#minititle HOME
          button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            i.fas.fa-align-justify
          #navbarSupportedContent.collapse.navbar-collapse
            ul.nav.navbar-nav.ml-auto
              li.nav-item
                a.btn.nav-link(href='/commu/infoupdate') 내정보
              li.nav-item
                a.btn.nav-link(href='/auth/logout') 로그아웃
    .overlay