extends commuLayout.pug
block append scripts
block append css
  link(rel='stylesheet', href='/css/commu/home.css')
block append content
  #tables
    //- #free.hometable
    //-   .tableHeader
    //-     h1
    //-       a(href='#') 자유게시판
    //-     hr
    //-   table.table.table-striped
    //-     thead.thead-light
    //-       tr
    //-         th(scope="col2") 제목
    //-         th(scope="col") 작성일
    //-     tbody
    #petition.hometable
      .tableHeader
        h1 
          a(href='/commu/petition') 학생 청원 제도
        hr
      table.table.table-striped
        thead.thead-light
          tr
            th(scope="col") 제목
            th(scope="col") 청원일
            th(scope="col") 참여인원
        tbody
          - for(var i=0;i<topics.length;i++)
            tr
              td.title
                - if(topics[i].lik >= 200)
                  span.badge.badge-warning 답변대기
                a(href="/commu/petition/content?id="+topics[i].id)= topics[i].title
                  span.comment [
                    | #{topics[i].comment}]
              td.date= topics[i].date
              td.like= topics[i].lik

