nav#sidebar(data-position="fixed")
	#dismiss
		i.fas.fa-arrow-left
	.sidebar-header
		img(src="img/logo.png", alt="logo")
		h3
			a(href="/asso") 스뮤스뮤<br> 관리자 페이지
	ul.list-unstyled.components
		- 
			var grade = '임원', college=user.college;
			if(user.grade==2) grade = '부원'
			if(user.college == '총학생회')
				college = '총'
			else
				college = user.college+'대학 '
		p #{user.username}님 반갑스뮤!<br>[#{college}학생회 #{grade}계정]
		li.active
			a.dropdown-toggle(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') 홈
			ul#homeSubmenu.collapse.list-unstyled
				li
					a(href='#') 정보 수정
				//- li
				//-   a(href='#') 부원 관리
				li
					a(href='/auth/logout') 로그아웃
		li
			a(href='/commu') 스뮤스뮤 커뮤니티
		li
			a.dropdown-toggle(href='#pageSubmenu', data-toggle='collapse', aria-expanded='false') 대여물품 관리
			ul#pageSubmenu.collapse.list-unstyled
				li
					a(href='#') 물품 등록/관리
				li
					a(href='#') 대여 기록
	//- ul.list-unstyled.CTAs
	//-   li
	//-     a.download(href='https://bootstrapious.com/tutorial/files/sidebar.zip') Download source
	//-   li
	//-     a.article(href='https://bootstrapious.com/p/bootstrap-sidebar') Back to article
