extends ../authLayout.pug
block append scripts
  script(type='text/javascript', src='/js/auth/registerForm.js')
block append css
  link(rel='stylesheet', href='/css/auth/register.css')
block content
  h1#mtitle 등록하기
  #agree
    .agreebox
      h3.register_title 회원가입 약관 동의
      .register-term
        .page-content
          include registercheck1.html
      p 회원가입약관 내용에 동의합니다.
        input#agree11(type="checkbox" name="agree" value="1")
    .agreebox
      h3.register_title 개인정보처리방침안내
      .register-term
        .page-content
          include registercheck2.html
      p 개인정보처리방침 내용에 동의합니다.
        input#agree22(type="checkbox" name="agree2" value="1")
    hr
    h4(style="color:red;") *표시가 있는 것은 필수입니다.
    form#frm(name="frm" action='/auth/register/commu', method='post')
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(style="color:red;") *
          span.input-group-text 아이디
        input#username.form-control(type='text', name="username", placeholder="아이디", maxlength="20", aria-describedby="basic-addon1",autocomplete="off", onchange="idchange()")
        .input-group-append
          .btn.btn-outline-dark#idbutton(onclick="idCheck();") 중복확인
      p 영문자, 숫자만 입력 가능. 3자리 ~ 20자리 이내
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(style="color:red;") *
          span.input-group-text 비밀번호
        input#password.form-control(type='password', name="password", placeholder="비밀번호",maxlength="20", style="color:black; font-family: 'Malgun Gothic';"  onchange="passwordE();")
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text 비밀번호 확인
        input#passwordCheck.form-control(type='password', name="passwordCheck", placeholder="비밀번호 확인",maxlength="20" onchange="passwordE();", style="font-family: 'Malgun Gothic'")
      p 영문,숫자,특수문자 혼합하여 8~20자리 이내
      p#passcheck
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(style="color:red;") *
          span.input-group-text 이름
        input#name.form-control(type='text', name="name", placeholder="이름", autocomplete="off")
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(style="color:red;") *
          span.input-group-text 학번
        input#schoolId.form-control(type="number", pattern="\d*", name="schoolId", placeholder="학번 (입력예. 201399392)", maxlength="9",autocomplete="off", onchange="schoolchange()")
        .input-group-append
          .btn.btn-outline-dark#idbutton(onclick="schoolIdAjax();") 중복확인
      p 학교 이메일 수집 및 여러 기능을 위해 사용됩니다.
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(style="color:red;") *
          label.input-group-text(for="college") 단과 대학
        select.custom-select#college(name="college" onchange="collegeChange();")
          option(value="인문사회과학대학") 인문사회과학대학
          option(value="사범대학") 사범대학
          option(value="경영경제대학") 경영경제대학
          option(value="융합공과대학") 융합공과대학
          option(value="문화예술대학") 문화예술대학
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(style="color:red;") *
          label.input-group-text(for="major") 소속 학과
        select.custom-select#major(name="major")
          option(value="역사콘텐츠학과") 역사콘텐츠학과
          option(value="지적재산권학과") 지적재산권학과
          option(value="문헌정보학과") 문헌정보학과
          option(value="한일문화콘텐츠학과") 한일문화콘텐츠학과
          option(value="공간환경학부") 공간환경학부
          option(value="공공인재학부") 공공인재학부
          option(value="가족복지학과") 가족복지학과
          option(value="국가안보학과") 국가안보학과
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text(style="color:red;") *
          span.input-group-text 닉네임
        input#nickname.form-control(type='text', name="nickname", placeholder="닉네임", maxlength="10",autocomplete="off", onchange="nickchange()")
        .input-group-append
          .btn.btn-outline-dark#idbutton(onclick="chNick();") 중복확인
      p 한글, 영문자, 숫자만 입력 가능. 2~10자리 이내
      .input-group.mb-3
        .input-group-prepend
          span.input-group-text 전화번호
        input.form-control(type='tel', name="phone1", placeholder="010", autocomplete="off", value="010", maxlength="3")
        input.form-control(type='tel', name="phone2", autocomplete="off", maxlength="4")
        input.form-control(type='tel', name="phone3", autocomplete="off", maxlength="4")
      p
        input(type='hidden', name="kakaoId", value=kakaoId)
      p
        input.btn.btn-success.form-control(type='button' value="등록하기" onclick='register()')
